[2016-08-15 12:13] xinmei9322 opened #2 "Convolutional VAE batch size"
Convolutional VAE batch size should be specified in current version. Need to be fixed.

[2016-08-15 14:52] xinmei9322 opened #3 "vae_conv.py NAN when tensorflow upgraded"
vae_conv.py has NAN bug when tensorflow is upgraded to 0.10.0rc0 from 0.9.0. Both under prettytensor (0.6.2).

[2016-08-24 09:39] #2 closed, assigned to thjashin

[2016-08-24 09:39] #3 closed, assigned to thjashin

[2016-09-18 06:02] thjashin opened #4 "set_shape in ensure_dim_match() cause gradient error"
Waiting for Tensorflow's reply to decide how to deal with this issue.

[2016-09-24 12:35] xinmei9322 opened #5 "ssl performance turns bad after recent commits"
ssl performance turns bad after recent commits. 2500 epochs accuracy 96.93%

[2016-10-01 13:03] #5 closed, assigned to thjashin

[2016-10-07 12:59] thjashin opened #7 "prettytensor's unimplemented he_init() for conv2d causes forward propagation exploding"
Current solution: When using conv2d, apply a patch to

[code]

[code]

This issue will be solved in future after we have our own neural layers and get rid of prettytensor.

[2016-10-13 11:11] ssydasheng opened #8 "sum of logpdf in advi of variational.py crashes with None"

[2016-11-11 06:09] thjashin opened #11 "Fix tf.contrib.graph_editor issues before merging to tensorflow master"
This is a temporal fix for tf.contrib.graph_editor issues before my fix is merged to tensorflow master. Use this before running examples under __model__ branch
Apply a patch to
[code]
in line 449
[code]

[2016-11-12 07:40] #11 closed, assigned to thjashin

[2016-11-12 15:50] ssydasheng opened #12 "log_pdf in StocahsticGraph's get_output has the same size with the output tensor(Branch model)"
In branch model,
the log_pdf in StocahsticGraph's get_output has the same size with the targeted output tensor, which differs from the master setting, in which the log_pdf  will be shape (batch_size, n_samples) by reduce_sum.

In #42 of ../zhusuan/variational.py

[code]

will crash because of adding latent_logpdfs of different shapes.

[2016-11-14 02:43] #12 closed, assigned to thjashin

[2016-11-28 13:36] #7 closed, assigned to nobody

[2017-01-19 03:57] cjf00000 opened #17 "get_output does not accept tf.Variable as input"
y_out, beta_out = self.model.get_output([self.y, self.beta],
                                                inputs={self.y: y, self.beta: **tf.identity**(beta)})

[2017-01-19 03:58] cjf00000 opened #18 "Normal does not accept np.ndarray"
beta = Normal(np.zeros((n_dims)), np.ones((n_dims)) * np.log(sigma))

[2017-01-23 04:40] #17 closed, assigned to nobody

[2017-01-23 04:40] #18 closed, assigned to nobody

[2017-03-21 03:03] #8 closed, assigned to thjashin

[2017-03-21 03:09] ssydasheng opened #26 "Stochastic Tensor shape crash when some dim is 1"
`n_particles = tf.placeholder(tf.int32, shape=[])`
`with zs.BayesianNet(observed=None) as model:`
    `w_mu = tf.zeros([n_particles, 1, 10])`
    `w_logstd = tf.zeros([n_particles, 1, 10])`
    `w = zs.Normal('w', w_mu, w_logstd)`
    `pdb.set_trace()`
    `a = 1`
see w.tensor in pdb, found the second dim becomes ? instead of 1

[2017-03-21 16:49] #26 closed, assigned to thjashin

[2017-03-21 16:50] #4 closed, assigned to nobody

[2017-05-02 15:51] korepwx opened #38 "Some example cannot run under Python 3.6"
The example `examples/semi_supervised_vae/vae_ssl_rws.py` cannot run under Python 3.6.

[2017-05-05 17:18] #38 closed, assigned to nobody

[2017-05-10 01:40] amiltonwong opened #40 "suggest a walkthrough jupyter notebook"
Hi, authors,

It would be very helpful if there's walkthrough jupyter notebook like this [one](http://nbviewer.jupyter.org/github/blei-lab/edward/blob/master/notebooks/iclr2017.ipynb)
.
Thanks!

[2017-05-10 02:17] thjashin commented on #40
Yes. That's in plan. Before that you could refer to our step-by-step tutorials http://zhusuan.readthedocs.io/en/latest/vae.html

[2017-05-12 15:20] meta-inf opened #41 "How to query deterministic transformations of StochasticTensor?"
Hi,

I'm implementing a model in which I need $f_{MLP}(z)$ in inference. As `BayesianNet.query` only accepts StochasticTensor, is there any way to do this, or could you consider adding this feature (e.g. by adding a deterministic StochasticTensor wrapper)? I think it's a pretty common use case.

Thanks for the awesome work!

[2017-05-12 15:46] wmyw96 commented on #41
Suppose you want to perform transform on $w$, you can get the samples and log_probs of $w$ from `BayesianNet.query`, modify them by $f_{MLP}(z)$ defined by you own, and the use the transformed samples and log_probs in inference algorithm. Moreover, we implement the Normalizing  Flow in `examples/normalizing_flow`, you can refer to it as examples.

[2017-05-12 15:50] meta-inf commented on #41
Thanks. Guess I'm a bit unconscious now ...

[2017-05-12 15:51] #41 closed

[2017-05-13 00:51] thjashin commented on #41
@meta-inf The case is that when you do deterministic transformation, unless it's invertible (one-to-one), there is no easy way to compute the transformed probability. But getting its sample is easy, you could just return it from your modeling building code.

[code]

For invertible mapping, we provided some support from the recent literature (normalizing flow: http://proceedings.mlr.press/v37/rezen

[2017-05-16 04:59] meta-inf opened #42 "Ancestral sampling incorrect (?)"
Code below should output close to 0 according to the docs, but the output is actually random.

[code]

[2017-05-16 06:33] thjashin commented on #42
Be careful that you get one sample from `z` and 1000 samples conditioned on that `z`. So the mean you get should be approximately the same with that `z`. If you average over multiple sess.run, you should get 0.

[2017-05-16 06:40] meta-inf commented on #42
I know. I just think it's not a very good user experience...

[2017-05-16 06:59] #42 closed

[2017-05-16 07:01] thjashin commented on #42
@meta-inf  I think it is. It should be even in concept. A single run of this model in concept is not guaranteed to  produce something near 0.

[2017-06-25 09:50] cjf00000 opened #48 "tf compability"
Please fix the tf call to stop the warning

/data/jianfei/zhusuan/zhusuan/distributions/univariate.py:69: UserWarning: Normal: The order of arguments logstd/std will change to std/logstd in the coming version.

[2017-06-25 11:56] miskcoo commented on #48
It seems that this is not the compatibility issue with tensorflow but our old version, and the warning is from our code. @thjashin added this warning.

[2017-06-25 14:43] thjashin commented on #48
intended behavior. i added std argument and plan to switch the order of logstd and std in future version. this will be a breaking change so the warning is intended.

[2017-06-26 04:02] MoXiGeTuFei opened #49 "A bug maybe?"
Here's the code (may omit some details)
[code]
Now I want to look into the variable x, but after I run the code nothing happens. The program seems to stuck at some place.

[2017-06-26 04:17] wangg12 commented on #49
You need to return `x.tensor` :)

[2017-06-26 17:13] #48 closed

[2017-06-26 17:14] thjashin commented on #49
We should have supported sess.run behavior for StochasticTensor. This seems to be a bug @korepwx

[2017-09-27 03:55] DanqingZ opened #61 "pairwise Markov random field"
dear authors, thanks for this package. I am wondering if Markov random field can be implemented using zhusuan, is so, do you have a tutorial for me to go through? thank you.

[2017-09-27 16:04] thjashin commented on #61
Unfortunately, as most of probabilistic programming libraries, we currently only support directed models. How to deal with undirected models in a general way is still an open problem for probabilistic programming.

If you are using MRFs for structured prediction, I guess deep generative models can do equally well (even much better).

[2017-09-28 01:47] thjashin commented on #61
Wait, what kind of markov random field are you dealing with? @cjf00000 made me realize that you can deal with continuous markov random field with zs.HMC.

[2017-10-01 18:54] DanqingZ commented on #61
@thjashin  I am having a high-order Markov random field that is a part of my larger model, I am now using some MCMC techniques, but it is too slow, so I am looking for some alternatives.

[2017-10-02 02:52] thjashin commented on #61
@DanqingZ Ok, that's clear. I think there are several ways to address this problem,
* Have you heard about [Perturb-and-MAP](https://pdfs.semanticscholar.org/3449/0cf2694a66c292d2d6ba69215c963fb2f5fd.pdf)? This a trick to sample from discrete MRFs. Once you have samples, you can use EM for parameter learning.
* Alternatively you can make use of ZhSuan. You can use the [Gumbel-softmax trick](https:

[2017-10-02 03:45] DanqingZ commented on #61
Thanks! let me check the links.

[2017-10-02 04:17] DanqingZ commented on #61
@thjashin , what is the capacity of zhusuan with continuous MRF? Can it deal with thousands of nodes or even millions of nodes? thanks.

[2017-10-02 04:46] thjashin commented on #61
That really depends on whether your tuned HMC is scalable to thousands of dimensions (whether it can efficiently explores the space). I don't have much experience for this specific scene but you could give it a try first with tens of nodes to see how it works.

On the computation side, when you have large models, you may do it with a mix of Gibbs and HMC, that is, you could divide the total nodes

[2017-10-02 07:09] DanqingZ commented on #61
Hi, Could you point me to where the continuous markov random field is used? It looks to me most of the models in the tutorial uses bayes net, which is directed.

[2017-10-02 16:46] thjashin commented on #61
I may write a small prototype (with two or three nodes) when I have free time. Maybe @miskcoo can help also?

[2017-10-02 21:08] DanqingZ commented on #61
@thjashin @miskcoo , sure, a small prototype, with fewer than 10 nodes, is enough for me to learn.  Thanks.

[2017-10-06 02:31] thjashin commented on #61
@DanqingZ See #62 for a simple gaussian markov random field with 2 nodes, using HMC to sample.

[2017-10-06 02:46] DanqingZ commented on #61
@thjashin  Thank you! let me check it.

[2017-10-07 23:56] rwayan commented on #40
Any Lifeful example for beginner?

[2017-10-09 16:11] thjashin commented on #40
@rwayan What kind of examples do you expect most? We may add some priority to it.

[2017-10-11 03:37] rwayan commented on #40
我想应该可以说中文吧，比如说从生活中的一些例子，比如说什么煤矿灾难次数啦，通过分析得到一个什么结论啦，这样可以让更多非学术的朋友接触到这方便的知识。这样通过一个notebook直接可以传播，很不错啊。

[2017-10-11 11:06] thjashin commented on #40
Be professional, potential contributors may not say Chinese :)

[2017-10-11 22:56] #61 closed

[2017-10-17 15:02] ifangcheng opened #63 "pytorch"
Can zhusuan be applied within pytorch framework？
 OR will it support pytorch in future？:-D

[2017-10-17 16:27] thjashin commented on #63
Maybe not. I'm personally preferring Tensorflow for several reasons. I may list them here in case other people have interests.

1. Static graphs will be much easier to optimize. Now TF may be reported slow under some settings. But it will soon change. The [XLA compiler](https://www.tensorflow.org/performance/xla/) is not merged yet. Once done one is able to select optimization options when executi

[2017-10-19 03:04] hoangcuong2011 opened #64 "Extending Bayesian NNs to have more hidden layers"
Greetings Jiaxin,

I am playing with regression using Bayesian Neural Networks. To do so I use your code (https://github.com/thu-ml/zhusuan/blob/master/examples/tutorials/bayesian_nn.py).

Thank you for writing such a great framework (zhusuan) and for your bayesian_nn code.

I have a question though: Could you give me instructions on how to extend the code to have more layers (let's say, 3 layers

[2017-10-19 05:39] thjashin commented on #64
Yes it's easy. If you take a closer look at the code, it actually has taken multi-layer cases into consideration.
[code]
If the above snippet is changed to
[code]
It will be a two-layer Bayesian NN.

btw, the Bayesian NN code in the tutorial directory will soon be merged with the other one [here](https://github.com/thu-ml/zhusuan/blob/master/examples/bayesian_neural_nets/bayesian_nn.py). It has ca

[2017-10-20 00:09] ifangcheng commented on #63
Many thanks for reply.
Just wondering is there a model zoo for the–state–of–the–art DGMs developed in your group?
If there is, it would be much easier to follow the published papers.

[2017-10-20 14:36] hoangcuong2011 commented on #64
Thank you @thjashin for having a pretty clear/instructive answer. I appreciate your help a lot!

[2017-10-20 14:36] #64 closed

[2017-10-21 07:23] renjinhao commented on #63
When I run the bayesian_nn.py, the results show that  "from examples import conf, ImportError: No module named 'examples'". However, I have installed the examples by "pip install ".[examples]"",. I wonder whether there is anything others need to be done before running it??

[2017-10-21 07:50] thjashin commented on #63
@renjinhao Since this is unrelated to this issue, can you raise your question in a new issue?

[2017-10-21 16:07] thjashin commented on #63
@ifangcheng In general any paper published with code should be released under the thu-ml organization. If you don't find them, that's probably due to it is still not ready for a release.

[2017-10-26 02:58] ifangcheng commented on #63
@thjashin   I noted a DGM project (mmdcgm ) under the thu-ml organization, However, it seems that it is NOT  developed based on zhusuan ?
Any zhusuan version about it? or will release in future?

[2017-10-26 07:10] rzhangpku opened #65 "No module named examples"
When I run the examples, such as `python zhusuan/examples/bayesian_neural_nets/python bayesian_nn.py`, I will get the error "ImportError: No module named examples". Please help me. Thank you.

[2017-10-26 08:39] lzkmylz commented on #65
You can use code as follow to add path to your zhusuan dir:
import sys
sys.path.append('Your zhusuan path')

[2017-10-26 09:05] thjashin commented on #65
Hi @rzhangpku , since we have organized the examples as a package (python does not allow running modules in it as a script), you could use
[code]
in the main directory.

[2017-10-26 09:07] thjashin commented on #65
And thank @lzkmylz for the solution, which will work also.

[2017-10-26 09:09] thjashin commented on #65
Anyone has a good idea about how to organize the example scripts into sub directories but still keep them runnable as a script? Contributions welcome.

[2017-10-26 10:09] rzhangpku commented on #65
@thjashin It works, thank you very much!

[2017-10-26 10:16] rzhangpku commented on #65
@lzkmylz Thank you for your solution!

[2017-10-26 21:43] Xihaier opened #66 "Question on the parameters representation in the example of Bayesian NNs"
Best greetings, dear authors:

I truly appreciate this package and I am playing with one of the examples (Bayesian NNs).

Honestly speaking, I am not working in this specific field and have limited background on this topic. But I would really appreciate that if you could tell the physical meaning of some evaluation parameters in your provided code (bayesian_nn.py).

Starts from line 86 and ends at

[2017-10-28 07:22] thjashin commented on #66
@Xihaier Hi, Thanks for the question. lb_samples represents how many samples are used to estimate the lower bound, ll_samples represents how many samples are used for importance sampling to estimate the log likelihood. epochs is the number of passes through the training set, anneal_lr_freq and anneal_lr_rate is for anneal the learning rate.

[2017-10-28 07:23] thjashin commented on #63
@ifangcheng This is an early work before we have zhusuan, so unfortunately not :(

[2017-10-28 07:23] #63 closed

[2017-10-28 20:46] Xihaier commented on #66
Hi Jiaxin,

It's very helpful!

If I may, could you give me some suggestions on the selection of a set of appropriate setting of the aforementioned parameters? Say if my input data set X is an N by M matrix, with N denoting the number of samples and M denoting the number of features. Y is an N by 1 vector. I am wondering if there are any tricks in the initialization of these parameters in accordan

[2017-10-29 11:04] thjashin commented on #66
@Xihaier In fact for Bayesian NNs we often normalize the input features to be zero mean and unit standard deviation. And for lb_samples, the principle is that more samples you use, you will get a more accurate estimation of the lower_bound. For ll_samples, it relates to the evaluation for test log likelihood, you will typically need hundreds or thousands of them to obtain a reasonable estimate. Th

[2017-10-29 16:05] Xihaier commented on #66
Thanks a lot, I really appreciate your kind patience and helpful instruction.

[2017-10-29 16:05] #66 closed

[2017-10-31 03:50] botev opened #67 "Provide path_derivative argument to all continuous distributions"
Paper: https://arxiv.org/abs/1703.09194
You can just add to any continuous distribution an extra argument `path_derivative`. When that is true when calculating the `_log_prob` just wrap the distribution parameters in `tf.stop_gradients`.

[2017-10-31 05:14] thjashin commented on #66
You are welcome :)

[2017-10-31 05:36] thjashin commented on #67
Thanks @botev . This is good since it just keep existing code behaviors unchanged. I've thought about this sticking-landing estimator but was focusing on how to do it in the variational objective which requires change of the api. Do you have interest in submitting a PR? We should appreciate it.

[2017-10-31 11:41] botev commented on #67
Sure, I'll be happy to make a PR.
Not use what kind of tests would be needed though?

[2017-10-31 12:53] thjashin commented on #67
A simple test that checks the gradient actually doesn't go through the log_p term in that way would be enough (e.g., log_p has no gradient w.r.t. parameters if givens are not samples). And if I'm right you only need to implement this for distributions that has a `is_reparameterized` argument (`Normal`, `Concrete`, etc.).

[2017-10-31 14:57] botev commented on #67
Ok and lastly do you want to have `use_path_derivative` as an argument to `log_prob` and `_log_prob`, to be as an attribute in the general `Distribution` class (like `is_reparametrized`) or attribute in the concrete classes. I think it should be an attribute to `log_prob` and `_log_prob` in the abstract `Distribution` class.

[2017-10-31 15:23] thjashin commented on #67
I feel it's good to have it as an attribute to the `Distribution` class but you may need to actually do the `stop_gradient` in each concrete class because their parameters vary, just like how the `is_reparameterized` argument is dealt with.

[2017-11-01 20:32] botev opened #69 "Issue with the shapes required in tf.layers"
Following a standard VAE example for the geneative model that looks like this:

[code]
where `func` just applies a bunch of dense layers from `tf.layers` I get the error:
[code]
Which I think is related to the fact that the model classes have no shapes. However, this makes it quite inconvinient to use like this.

[2017-11-02 17:13] botev commented on #69
If the issue is just
[code]
I can do that, sounds quite simple.

[2017-11-03 03:23] thjashin commented on #69
I guess that's it. Does it work?

[2017-11-03 03:27] #67 closed

[2017-11-03 17:33] botev opened #70 "Abstraction of empirical distribution."
I know this might be a bit strange, but I think it would be useful at least to have an option of an empirical distribution. This would make for instance specifying the "inference" networks more symmetric and include more clearly what the full graphical model is. This will also make it consistent to pass the `x` as an observed variable when we query for the log-probabilities rather than when we bui

[2017-11-03 20:50] botev commented on #70
A working example of this can be seen [here](https://github.com/botev/zhusuan/blob/emperical/examples/variational_autoencoders/vae.py).
If you guys think this is reasonable I can make a PR for it as well.

[2017-11-04 03:22] thjashin commented on #70
Nice idea, and I understand the motivation. What I am wondering is whether this does maximize ease of use, since the only difference of programming the posterior is that you may need to pass 'x' through the `observed` argument instead of a separate one.

Despite this I'm still happy to merge it as an optional feature for people who love the symmetry :) Before that let me check how you deal with th

[2017-11-04 03:35] botev commented on #70
Yes, the shapes I'm not 100% sure are correct so having a look is fine.

Another use case, which I came across just now is to have a `Delta` distribution (or also a marker). This is to be able to pull some of the deterministic computation from inside the model. As an example, some of the other Normalizing Flows (householder for instance) create the flow by usually using the "top deterministic" lay

[2017-11-08 13:41] thjashin commented on #70
I agree this can be an alternative if you want to query some deterministic things through the context. Maybe `Deterministic` or `Implicit` is better? Since it may not be a delta due to randomness in upstream nodes.

[2017-11-08 13:44] thjashin commented on #70
@botev Btw, if you'd like to make the `Implicit` node. We may be happy to bring forward the plan on supporting density ratio estimation for implicit distributions (e.g. through a GAN-like discriminator). This will make learning of implicit models easier in ZhuSuan. @ssydasheng is happy to help with this.

[2017-11-08 16:09] thjashin commented on #70
How about a NotImplementedError? Users may not expect an inf for their computation. They can be reminded if they try to use the density of an implicit distribution, which is always not a good choice.

[2017-11-08 16:13] thjashin commented on #70
Yeah you're right. I mixed up the conditional and marginal. In that sense I agree that `Delta` is ok. But I think `Implicit` is still preferred considering it's widely used in GAN related papers.

[2017-11-08 16:30] ssydasheng commented on #70
I think that depends on whether `x` is generated from a random sample like in GAN, if it is, then `Implicit` seems better. If `x` is just a fixed tensor, then `Delta` seems good.

[2017-11-08 18:57] botev commented on #70
@ssydasheng I think generally we are talking about things which are fixed, but to depend stochastically on something. E.g. each layer of the GAN is `Implicit/Delta`. I don't think 2 distribution are needed.

@thjashin I don't think an Error is a good idea since atm when you `query` a model with 2 variable, if you want the log_prob of one of them you will return for both. E.g.:
[code]
Will raise an

[2017-11-09 05:11] #69 closed

[2017-11-09 05:30] thjashin commented on #70
That makes sense. `None` seems to be a good choice.

[2017-11-09 18:32] botev commented on #70
Hmm, apparently the `None` gives an error from the base method:
[code]
Since the `reduce_sum` is called on the `None`. I can either modify the base method as well or go back to the infinity log probabilities.

[2017-11-10 02:23] thjashin commented on #70
I'm not sure which is better though. @cjf00000 @korepwx @miskcoo Which type of log_prob you prefer for implicit/delta distributions? None or inf?

[2017-11-10 15:08] miskcoo commented on #70
0/inf seems good.

[2017-11-10 18:21] botev commented on #70
Ok, I will implement that and make a PR. A similar issue, which would be nice to also solve, is to have a Reparametrizable distribution. This will allow anything that is technically a Normalizing Flow to be part of the model as well.
I would suggest the interface for that to be something like:
[code]
It will not allow passing `num_samples`. This way "I think" that it will work out of the box corre

[2017-11-11 02:43] thjashin commented on #70
Cool, thanks.

As for `Reparameterizable`, Previously we have discussed about this but finally decided to not support it. The main reason is that to implement this, only pass `func` and `log_det` is not enough. you have to build a bijector, which can do the inverse `func^{-1}` to evaluate the density at a given value. We feel all these arguments (`bijector`, `log_det`) have made the feature useles

[2017-11-11 03:16] MaxInGaussian opened #72 "Computation of gradient w.r.t. Distribution parameters"
I have detailedly studied the code under the folders zhusuan/distributions and zhusuan/model. Yet, I am still confused by how the gradients are computed by Tensorflow. Since a number of samples are used to caluated the cost at each optimization Op, I am not sure why this is reversible when taking the gradients w.r.t. Distribution parameters (e.g. mean and log_std in Normal), how this is handled by

[2017-11-11 03:59] thjashin commented on #72
Hi @MaxInGaussian , thanks for your interests. The point is that you can always differentiate through a random variable by doing some math. Specifically, you write out the loss, which is usually in a form of $E_{p(z)} f(z)$, then change the expectation as an integral $\int p(z)f(z) dz$, and take derivatives of it. The key point here is how to get a good estimate of the gradient with low variance.

[2017-11-11 06:14] MaxInGaussian commented on #72
Hi @thjashin , thanks for the reply. I was trying to reproduce the [MCDropout model](https://arxiv.org/pdf/1506.02142.pdf) in Zhusuan, The mean-square-error loss function was directly used as the optimization objective. The confusing part is that, I observed that the dropout rate (the parameter to Bernoulli) was well-adjusted during training if I set it as a trainable variable. This is case where

[2017-11-11 06:27] thjashin commented on #72
I don't think TF will take gradient through Bernoulli random variable though.
[code]
If you want to compute gradient through Bernoulli variables, you may need to use gradient estimators like the [reinforce](http://zhusuan.readthedocs.io/en/latest/api/zhusuan.variational.exclusive_kl.html#zhusuan.variational.exclusive_kl.EvidenceLowerBoundObjective.reinforce). Currently this is implemented for vari

[2017-11-11 07:00] MaxInGaussian commented on #72
Thanks so much for the suggestion. I will try reinforce to update the dropout rate. For Bernoulli distribution, I guess the changes was stem from the random initializations. Besides, for Normal distribution, I found that it is feasible to obtain the gradient. Should I refer to `tf.random_normal` in this case?
`
mu, ls =tf.Variable(0.), tf.Variable(0.)
a=zs.distributions.Normal(mu, logstd=ls)
s=a.s

[2017-11-11 08:02] MaxInGaussian commented on #72
Great thanks for your help and the recommended materials. I have figured out how the derivative is obtained for in variational inference or otherwise.

[2017-11-11 08:02] #72 closed

[2017-11-11 14:03] thjashin commented on #72
You are welcome :)

[2017-11-11 23:32] botev commented on #70
So I do agree that technically you need a bijective function. However, if you restrict, at least for now as it is not a priority, that the `Reparameterizable` cannot be part of the observed variables or maybe that if it is observed you can not query for the "root" latent and the log-probability of any of those.

That might not be too easy I agree, let me have a think about it and maybe if I come w

[2017-11-12 08:15] thjashin commented on #70
Yep. Some insights are really needed on this feature.

[2017-11-15 15:48] botev commented on #70
Ok, so I think the main issue is that in most NF we return the "samples" and the "log_det" simultaneously - that is pretty much the only way to compute stuff efficiently. This might be a breaking change and is worth considering, however - add a method `sample_and_log_prob` to the base `Distribution` class, which by default calls `sample` and then `log_prob`. When users call query you will now have

[2017-11-15 20:11] botev commented on #70
So with the second suggestion the normalizing flow example looks like this:
[code]
All of the change that were required can be viewed here: https://github.com/botev/zhusuan/commit/4873d6e990e93ca2bc14d6626528de41e17623aa

[2017-11-16 02:58] thjashin commented on #70
I think the key point here is that you suggest making Normalizing Flow a specific distribution. So in that way an error can be raised when its `log_prob` is called. This is good to have. But I feel it is better to have `sample_and_log_prob` only implemented in the flow distribution, because in the current implementation you construct `log_prob` related graphs in situations where users may only wan

[2017-11-16 05:40] botev commented on #70
Ok, so I think your suggestion is good. I've also implemented this here: https://github.com/botev/zhusuan/commit/94e43717ddafc36820657377848d9fb5da7a0357. I think this approach is good as it addresses both. I've also added code for an optional inverse model which allows for calculating log_prob if ever needed.

However, it is required that we set in the stone the interface to the forward and inver

[2017-11-16 14:10] thjashin commented on #70
Well, actually introducing an inverse model is not necessary for normalizing flow (e.g., for the planar flow the inverse method is not in closed-form). So I suggest we leave it later to be part of the `TransformedDistribution` work, for which it is much harder to form a good API. For the normalizing flow distribution, another thing is about shapes. Note that NF should only be applied to distributi

[2017-11-16 15:00] botev commented on #70
So in the second implementation variant here: https://github.com/botev/zhusuan/commit/94e43717ddafc36820657377848d9fb5da7a0357
there are two things:

1. I create `_local_log_prob` when `.tensor` is called only for the FlowDistribution. For any other distribution, it is created only if you explicitly request `.local_log_prob` otherwise, the graphs are not constructed.

2. The inverse model is left

[2017-11-20 17:48] thjashin commented on #70
I spent some time thinking about this and have an improved version based on the second implementation.

For base distribution
[code]
By default it will call sample and then log_prob

For FlowDistribution,
[code]
It was rewritten to use the forward function.

Then in the base StochasticTensor.
[code]

How do you like this?
This will remove code about a specific flow distribution in the base classes

[2017-11-20 23:07] botev commented on #70
Yes, that does sound good to me and I was thinking as well to add exception handling rather than a check. One thing, however, I do really suggest that the `flow` has the interface:
[code]
And so than following your suggestion in the FlowDistribution:
[code]
The reason being is that if we add an inverse model where we observe the `z_t` there is no `log_p` to pass in. Other than that if you also are

[2017-11-21 16:40] thjashin opened #76 "VIMCO test failed with python 3 on windows"
RT.

[2017-11-22 03:56] thjashin commented on #70
Yep. It will be more consistent if all things in the transform module could have (samples, log_det) returned.

[2017-11-26 06:02] ssydasheng opened #79 "HMC sampling bug"
[hmc_bug.txt](https://github.com/thu-ml/zhusuan/files/1503685/hmc_bug.txt)

HMC sampling cannot even run for one step.
But if setting `yprec=zs.Gamma('yprec', 6., 6., n_samples=n_particles)` in bnn and changing corresponding variance shape to be `[n_chains]`, then it can sample well.

[2017-11-26 06:52] ssydasheng commented on #79
change `tf.reduce_mean(log_py_xw, 1)` in `log_joint` to `tf.reduce_mean(log_py_xw)` makes it runnable. But I am not sure whether this is right.

[2017-11-26 11:32] #79 closed

[2017-12-03 03:09] jsxzljx opened #82 "Questions on multivariate distributions class"
Dear authors, thanks for the great package. I have some questions here and would like to ask for some help.

### Initialize a distribution

In [Basic Concepts](http://zhusuan.readthedocs.io/en/latest/tutorials/concepts.html#distribution) part of the docs, the code
[code]
is easy to understand and I think it represents we create a random variable a~N(0, 0), while

[code]
seems confusing to me. Does

[2017-12-03 08:51] thjashin commented on #82
@jsxzljx Thanks for posting it here.

In general, distributions support clever broadcasting for inputs. For univariate Normal, it will broadcast the mean and std to have the same shape. Thanks for pointing this out. I'll updated the docs to show this.

[2017-12-04 01:33] jsxzljx commented on #82
@thjashin thanks for your reply😊. So what about the multivariate Normal distribution with a non-diagonal covariance matrix then?

[2017-12-04 02:27] thjashin commented on #82
We are working on it. See #77

[2017-12-04 02:31] thjashin commented on #82
And also contributions are welcomed to improve the docs since users may have a very different perspective. If you find any other places unclear, just raise a issue or change it and send us a PR. We'd appreciate it.

[2017-12-04 03:01] jsxzljx commented on #82
Okay, I got it.  Many thanks for your work and help.

[2017-12-04 03:01] #82 closed

[2017-12-13 06:01] rtz19970824 opened #84 "A problem on zs.Concrete"
`
import tensorflow as tf
import zhusuan as zs

logits = tf.zeros([10, 10])
temparature = 1.
labels = zs.Concrete('y', logits=logits, temperature=temparature, n_samples=10, group_ndims=1)
prob = labels.log_prob(tf.one_hot(range(10), 10))
print (prob.shape)
`
seems only produce 1 tensor with shape ()

[2017-12-13 06:04] thjashin commented on #84
@miskcoo Can you have a look?  btw, We don't recommend to use `zs.Concrete` outside `BayesianNet`. This is a historical problem and we will forbid this behavior in future. Use `zs.distributions.Concrete` instead.

[2017-12-13 17:15] miskcoo commented on #84
@rtz19970824 I think this is right. Note that `zs.Concrete` is a multivariate distribution similar to `zs.OnehotCategorical`, so the input shape is like `batch_shape + input_shape`, where `input_shape` is the last dimension of `[10, 10]`, and `batch_shape` is the first dimension. Then you group last 1 dimension of `batch_shape`, `log_prob` will sum out this dim.

[2017-12-14 00:30] rtz19970824 commented on #84
@miskcoo I'm still a little confused. You mean the whole '[10, 10]' tensor is viewed as one sample so the output is only the probability of the whole sample? If I want to treat every single '[1, 10]' tensor  as logits of one distribution, how can I do?

[2017-12-14 04:11] miskcoo commented on #84
Don't pass `group_ndims=1`, this parameter behaves like

`prob = tf.reduce_sum(prob, axis=0)`

[2017-12-16 10:54] thjashin commented on #84
Does it work for you? @rtz19970824

[2017-12-18 03:52] rtz19970824 commented on #84
Yes, thanks.

[2017-12-18 03:52] #84 closed

[2017-12-25 19:50] botev opened #86 "Exponential families and natural parameters"
It would really great if there is a way of constructing an easy way of switching between standard and natural parameters. This particularly is to address more advanced techniques such as Structured VAEs - https://arxiv.org/abs/1603.06277. However, this would require significant thought on how to incorporate this in the API and so I think a discussion here would be good to make. I have not seen so

[2017-12-26 02:55] thjashin commented on #86
Great idea. Exponential families are always linked to conjugacy, which is very hard to have an automated design. I guess that's why existing frameworks don't have a good support (though some claim to ). But we may start from the easy case. Maybe first a general distribution named ExponentialFamily? And let all subclasses to have the natural parameter attributes.

[2018-01-09 11:24] botev commented on #86
Just for some pointers, do you know any frameworks which have/claim to have some support of this as it would be good to see what people have come up in terms of ideas and what problems they got in the way?

[2018-01-09 12:08] thjashin commented on #86
Edward has some preliminary design of [conjugacy](https://github.com/blei-lab/edward/blob/master/edward/inferences/conjugacy/conjugacy.py). But they are doing this based on graph copying, which is a feature that TF people just don't like (see this [PR](https://github.com/tensorflow/tensorflow/pull/5802) by me). This design seems to be deprecated by the author of Edward. They are currently working

[2018-01-09 12:11] thjashin commented on #86
I'm also interested in implementing some examples shown in the structured vae paper. That's a very neat paper. If you could outline some detailed needs, I'm happy to help with it.

[2018-01-19 08:07] thjashin commented on #86
Update: @liyr will start working on a general abstraction for exponential families.

[2018-01-21 20:20] botev commented on #86
I had some thoughts on this and I think essentially what is needed is something similar to the `query`, but which given some observations if the structure of the graph is conjugate gives you back the parameters (natural or not) of the exact posterior or throws an error if it is not conjugate.

[2018-01-22 06:51] ifangcheng opened #89 "HMC parameters settings"
in examples:    gaussian.py

# Define HMC parameters
    kernel_width = 0.1
    n_chains = 1000
    n_iters = 200

what is the diffetence between n_chains and n_iters?

it seems that both of them affect the final sampling quality?

what is exactly the difference if i change them as follows:
n_chains = 100
n_iters = 2000

[2018-01-22 08:36] thjashin commented on #89
`n_chains` stands for how many MCMC chains you are simulating in parallel. `n_iters` represents how long you simulate, say, `n_chains = 100, n_iters = 2000` means you simulate all the chains for 2000 iterations.

[2018-01-22 08:59] ifangcheng commented on #89
ok, i see
but
n_chains = 100
n_iters = 2000
vs
n_chains = 1000
n_iters = 200

normally, which one will be better?

[2018-01-22 11:13] thjashin commented on #89
They are independent of each other. In general, `n_iters` should be sufficiently large so that the chain will mix. It only depends on the problem. For `n_chains`, you can think of it as `n_threads` in parallel programming. More is better, which means you can get more samples in the same amount of running time, but for large models, typically you cannot afford a too large `n_chains`.

[2018-01-22 15:32] thjashin commented on #86
I like it. That's the ultimate goal. We are working at the very beginning though, to have some an `ExponentialFamily` abstraction, and something like `Normal.from_natural_parameter()`. Detecting conjugacy for single-particle models is easy, But it's getting hard as you have many plates in the graphical model.

[2018-01-22 23:16] ifangcheng commented on #89
it seems like a kind of particle filter
many thx!

[2018-01-23 01:52] thjashin commented on #89
You're welcome.

[2018-01-23 01:52] #89 closed

[2018-01-25 15:10] botev opened #90 "Clarification on HMC"
I have two questions regarding the HMC implementation:

1. Why the default `target_acceptance_rate` is 0.8 and not 0.65, which is most widely used in the literature.
2. Is there a white paper about the method used for adapting the mass? (I assume this is the diagonal covariance of the velocity vectors)

[2018-01-25 16:26] thjashin commented on #90
My guess is
1. For deep models, usually smaller step sizes are needed.
2. Yes (a moving average of it), learnt from Stan's code. Their [manual](http://mc-stan.org/users/documentation/) has a few words on it.

But let @cjf00000 answer the questions.

[2018-01-26 19:23] botev commented on #90
Ah, not to be critical, but I could not find anything on their manual page and it seems quite unintuitive at least to me. I was asking as I wanted to run the HMC code on a custom model (e.g. I need a separate HMC implementation) and I'm aware of the dual averaging from the NUTS paper but have not seen the mass adaptation before, so I wanted a reference text on that.

[2018-01-27 11:05] cjf00000 commented on #90
Regarding to the step size
----

I set the step size to be 0.8 because in practice I found it performs better than 0.6 or 0.65, on logistic-normal topic models and VAEs. Sometimes 0.9 works even better.

Regarding to the mass
----

It seems that adapting mass is from paper [1], according to Matt Hoffman [2]. I have not read that paper either, and the adaptation strategy is just taken from Stan, as

[2018-01-29 13:13] ifangcheng opened #91 "no variational parameters"
in line 51 of  /toy_examples/toy2d_intractable.py :
infer_op = optimizer.minimize(cost)

it seems that the variational parameters( z_mean, z_logstd) were not explicitly specified,  how does the
optimizer knows exactly which parameters to optimize?

[2018-01-30 05:55] thjashin commented on #91
Tensorflow optimizer will optimize over all `tf.trainable_variables()` if no `var_list` is given.

[2018-01-30 12:07] ifangcheng commented on #91
ok, I see. thx!

[2018-02-05 12:40] #91 closed

[2018-02-05 18:07] TingqiIC opened #92 "how to output a whole distribution?"
In bayesian_nn example, y_pred is the mean value of the distribution used to represent the prediction. Instead of printing out the mean value, how can I get the whole distribution of it(i.e. an interval)?

[2018-02-05 18:17] miskcoo commented on #92
Did you mean to get the confidence interval of y? If so, you can return y_mean and y_logstd (the two parameters completely determine the normal distribution), and use scipy.stats.norm.ppf to compute the $\alpha$-quantile.

[2018-02-05 20:00] TingqiIC commented on #92
Thanks I will have a try.

[2018-02-11 06:24] misssprite commented on #61
Hi, @thjashin
I plan to do some unsupervised images segmentation. It seem that MRF makes sense and I'm wondering if it can be accelerated with gpu.
What do you mean by 'deep generative models'? VAE?
Could you give me some suggestion of some work on unsupervised images segmentation?

[2018-02-11 13:59] ifangcheng opened #93 "Questions about vae.py"
regarding to vae.py, I have two questions：

1.   what's the considerations to use  zs.Implicit and  zs.Empirical  ?  any benefits from using these two API?
x_mean = zs.Implicit("x_mean", tf.sigmoid(x_logits), group_ndims=1)      in line 27
x = zs.Empirical('x', tf.int32, (None, x_dim))   in line 34

2.   why the   n_particles set for evaluating  test_lb  and test_ll differs so much (1 vs 1000)?

[2018-02-12 04:41] thjashin commented on #93
This is an optional feature. Some people would like to be more abstract about the model construction. And they don't like passing to or returning from the model function with additional parameters. This feature helps so that you can query the model about tensor you want.

[2018-02-12 04:45] thjashin commented on #93
For test_lb, this is kind of arbitrary, in principle it should be large to be more accurate. For test_ll, it has to be large. Because the log likelihood is estimated using importance sampling, which is inaccurate when the number of samples is not sufficiently large.

[2018-02-12 11:58] ifangcheng commented on #93
@thjashin  sounds reasonable！ many thanks！

[2018-02-12 11:58] #93 closed

[2018-02-13 12:53] ifangcheng opened #94 "two questions about vae_conv.py"
1.  in line 84： x_test = np.random.binomial(1, x_test, size=x_test.shape).astype('float32')
    the dtype of x_test is 'float32
    in line 110:   x = tf.placeholder(tf.int32, shape=[None, n_x], name='x')
    the dtype of x is tf.int32,  it seems that x_test  is not match x.
    however, in line 165:     feed_dict={x: test_x_batch,
    test_x_batch is feed to x ,    and the program works well,  wh

[2018-02-18 06:45] thjashin commented on #94
the dtype of x_test is 'float32
in line 110: x = tf.placeholder(tf.int32, shape=[None, n_x], name='x')
the dtype of x is tf.int32, it seems that x_test is not match x.
however, in line 165: feed_dict={x: test_x_batch,
test_x_batch is feed to x , and the program works well, why?

1. Seems that `sess.run` will work out the conversion.

The dropout layer is applied after a bn layer.
Considering that

[2018-02-18 06:45] #92 closed

[2018-02-18 06:45] #70 closed

[2018-02-21 11:26] #94 closed

[2018-02-26 13:44] ifangcheng opened #95 "confusions about lb_z in vae_ssl.py"
1. From line 124 of  vae_ssl.py, it seems that lb_z  is a zs.variational.elbo object.
however, from line 130:
lb_z = tf.reshape(lb_z, [-1, n_y])
it seems that  lb_z  is treated as a tensor.  so, what exactly lb_z is?  how is it calculated?

2. line 136-137:
   unlabeled_lower_bound = tf.reduce_mean(tf.reduce_sum(qy_u * (lb_z - log_qy_u), 1))

which makes me confused.
why use lb_z again here to cal

[2018-02-27 01:44] thjashin commented on #95
however, from line 130:
lb_z = tf.reshape(lb_z, [-1, n_y])
it seems that lb_z is treated as a tensor. so, what exactly lb_z is? how is it calculated?

Instances of `VariationalObjective` are Tensor-like. See the doc string [here](https://github.com/thu-ml/zhusuan/blob/master/zhusuan/variational/exclusive_kl.py#L29).
This example follows from the Kingma(2014) [paper](https://arxiv.org/abs/1406.5298

[2018-02-27 14:19] ifangcheng commented on #95
thanks for these references, now  all make sense!

[2018-02-27 14:24] ifangcheng commented on #95
thanks for these references, now  all make sense!

[2018-02-27 14:24] ifangcheng commented on #95
Thanks for these references, now  all make sense!

[2018-02-27 14:29] #95 closed

[2018-03-05 13:59] romanklis opened #97 "Example request"
Dear Creators,

I deeply think this is one of the most powerful frameworks for creating graphical models and parameters learning Ive seen so far. Outstanding job.

I kindly wanted to request a few more simple easy to follow BN focused examples, such as classical sprinkler example http://web.eecs.utk.edu/~leparker/Courses/CS594-fall09/Lectures/12-Chapter14b-Oct22.pdf. Potentially with a hidden stat

[2018-03-05 14:16] ifangcheng opened #98 "test log likelihood probelms"
I noted that test_ll (test log likelihood)  is evaluated in many  examples,:
e.g.
in bayesian_nn.py line 116:
log_likelihood = tf.reduce_mean(zs.log_mean_exp(log_py_xw, 0)) - \
        tf.log(std_y_train)

in vae.py line 78:
is_log_likelihood = tf.reduce_mean(
        zs.is_loglikelihood(log_joint, {'x': x},
                            {'z': [qz_samples, log_qz]}, axis=0))

while in sbn_rws.py lin

[2018-03-06 06:31] thjashin commented on #97
Thanks for the kind words! Could you be more specific on the example you request? From my understanding, it's a 4-node BN with all discrete variables. And exact inference is available after some tensor computation. What would you like the example to illustrate?

[2018-03-06 06:45] thjashin commented on #98
In fact `zs.is_loglikelihood` computes the same value as `zs.importance_weighted_objective`, which is an importance-sampling based estimate of the log likelihood (it's also a lower bound as long as the number of samples is finite). The only difference is the latter provides gradient estimators for the variational (proposal) parameters.

So in SBN example, we avoid computing the same value twice by

[2018-03-06 10:20] romanklis commented on #97
I though about a following use cases which would be extremely useful in practice:

(1) Utilization of a simple 6-node BN with discrete variables which would illustrate how to execute in such a setup parameter learning once we are given observations from all nodes expect one, as far as I understand it is latent variable.

Sample 1: [0, 1, 2, NaN, 0, 2]
Sample 2: [0, 0, 1, NaN, 0, 2]
Sample 2: [0, 0

[2018-03-06 13:05] ifangcheng commented on #98
@thjashin  very clear! thanks!

[2018-03-06 13:05] #98 closed

[2018-03-06 13:06] chjq201410695 opened #99 "Posterior and parameters analysis"
I wonder if there are some approaches for posterior and parameters analysing?  I wish you could provide a summary of model and plot API. Or, some examples for analysing and Visualizing model parameters are very helpful.

[2018-03-06 14:12] thjashin commented on #97
Thanks for the details. I guess an interactive tutorial in jupyter notebook would be suitable for this and indeed we need one. Because now we are refactoring the modeling primitives for the 0.4 version. The plan for this tutorial shall come after that.

[2018-03-06 14:19] thjashin commented on #99
Thank you for the suggestion. However, unlike existing probabilistic programming libraries, we actually don't have a plan for summary/plot APIs. We feel this is more a user-side work, which is hard to have a good abstraction. Despite this, I agree that having some examples for analyzing model parameters are useful, which may come later with more tutorials (e.g. tutorials on topic models). Besides,

[2018-03-06 14:19] #99 closed

[2018-03-07 02:32] #90 closed

[2018-03-13 11:50] ifangcheng opened #101 "questions about dlgm_nf.py"
1.  in line 74-76 in  dlgm_nf.py :
    qz_samples, log_qz = zs.planar_normalizing_flow(qz_samples, log_qz,
                                                    n_iters=n_planar_flows)
    qz_samples, log_qz = zs.planar_normalizing_flow(qz_samples, log_qz,
                                                    n_iters=n_planar_flows)

why repeat the codes? if we want to implement more layers of normali

[2018-03-13 13:35] meta-inf commented on #101
1. It seems like an outdated sanity check - thanks for pointing out. You certainly can fold them.
2. Yes. You can check the doc string for the math of the transformation and reference.

[2018-03-14 11:22] #101 closed

[2018-04-20 11:18] thjashin commented on #94
FYI. I've updated the convolutional vae example. It has a simpler implementation (without bn/dropout or any other tricks) but has very good test performance.

[2018-05-12 05:32] jilljenn opened #104 "Can't compute prior (local_log_prob) of a StochasticTensor inside tf.scan (in LSTM cell)"
Hi,

I tried to implement the `bayesian_rnn` from the docs.
However, while trying to compute `log_joint`, I can't compute the log of prior `log_pz` because `w` is declared within a LSTM cell, so I get the following error:

    Traceback (most recent call last):
      File "blstm.py", line 111, in <module>
        joint_ll = log_joint({'x': x, 'y_i': y_i, 'y_v': y_v})
      File "blstm.py", line 10

[2018-05-12 05:43] thjashin commented on #104
Hi, which version of TF do you work on? I think I had that example run on a earlier version.

[2018-05-12 08:01] jilljenn commented on #104
TensorFlow 1.8.0. I will try earlier, thanks!

[2018-05-14 09:37] jilljenn commented on #104
In TensorFlow 1.4, the error becomes:

    Traceback (most recent call last):
      File "/Users/jilljenn/code/vae/venv/lib/python3.6/site-packages/tensorflow/python/client/session.py", line 1323, in _do_call
        return fn(*args)
      File "/Users/jilljenn/code/vae/venv/lib/python3.6/site-packages/tensorflow/python/client/session.py", line 1302, in _run_fn
        status, run_metadata)

[2018-05-14 10:59] thjashin commented on #104
Hi, I need to walk through your code to figure out what happened, but unfortunately I haven't got that much time yet (before the nips ddl). Could you take a look at this [script](https://github.com/thjashin/zhusuan/blob/comparison/examples/bayesian_rnn.py), which corresponds to the example in the white paper.

[2018-05-14 18:50] csy530216 commented on #104
**Short answer**: If you change the line `joint_ll = log_joint({'x': x, 'y_i': y_i, 'y_v': y_v})` to `joint_ll = log_joint({'w': tf.zeros([2 * 128 + 1, 4 * 128]), 'y_v': y_v})`, the error will not occur.
**Long answer**:
In your code,
[code]
So in the `zs.BayesianNet` context, the `StochasticTensor`s defined is `w` (when calling `BayesianLSTMCell.__init__`) and `y_v`. The parameter `observed` for

[2018-05-15 01:40] jilljenn commented on #104
Thanks a ton!

We're all in this!

[2018-05-15 02:09] jilljenn commented on #104
@csy530216 Can I still ask you questions?

Your approximate of the posterior (the variational function) in both `bayesian_rnn.py` and Bayesian NN tutorial does not seem to depend on the observed variables. Why is that? Is it normal behavior?

[2018-05-15 03:06] csy530216 commented on #104
Yes. In VAE, the latent variable z is local (the number of latent variables is proportional to size of dataset). To accelerate the inference we use amortized inference, that is to make the variational distribution of z depend on the value of observed x. Then by learning a inference network, the experience between different data points can be shared.
In principle in VAE we can also make the variati

[2018-05-15 03:45] jilljenn commented on #104
Thanks! I guess it means q(W) reflects the posterior over the whole dataset D.

For my purposes, I need to make it depend on the datapoints. I will do my best :) Thanks for such a great library, great docs, and great customer service! 😄

[2018-05-15 04:10] csy530216 commented on #104
Yes you are right. Thanks for your kind words :)

[2018-05-16 09:37] #104 closed

[2018-05-18 06:04] jilljenn opened #105 "Clarifying the * N in log_joint?"
Hi!

Here:

    N, n_x = x_train.shape

    ...

    def log_joint(observed):
        model, _ = bayesianNN(observed, x, n_x, layer_sizes, n_particles)
        log_pws = model.local_log_prob(w_names)
        log_py_xw = model.local_log_prob('y')
        return tf.add_n(log_pws) + log_py_xw * N

Source: https://github.com/thu-ml/zhusuan/blob/master/examples/bayesian_neural_nets/bayesian_nn.py#L96

[2018-05-18 07:02] meta-inf commented on #105
The training set has size $N$ instead of `batch_size`, so an estimate of the log likelihood should use `N`.

[2018-05-18 07:57] jilljenn commented on #105
OK thanks :) I'm still surprised there is not a `N / B` somewhere.
If `x` is a batch, `log_py_xw` already returns a mean per sample? Should it be mentioned in the docs?

[2018-05-18 08:31] meta-inf commented on #105
As `y` in the model isn't defined with non-zero `group_ndims`, its `log_prob` has shape `[n_particles, batch_size]`, and the division by B is performed by the `reduced_mean` in L103/104.

The example in [the v0.4 branch](https://github.com/thu-ml/zhusuan/blob/v4/examples/bayesian_neural_nets/bayesian_nn.py#L86) is more clear.

[2018-05-20 13:44] sameerkhurana10 commented on #86
Hi,

Any updates on this?

[2018-05-26 14:44] keskinm opened #106 "Dirichlet + Categorical or Dirichlet + Multinomial toy example ?"
Hello
Is it possible to add a little example for doing this:
Latent <- zs.distributions.Dirichlet(alpha_parameters)
Observations <- zs.distributions.Multinomial(Latent, n_experiments) ?

And the goal is to retrieve alpha_parameters when we have only Observations, with HMC or variationnal inference.

(My ultimate goal is to do:
Latent1 <- zs.distributions.Dirichlet(alpha_parameters)
Latent2 <- zs.d

[2018-05-26 15:05] csy530216 commented on #106
My personal opinion is that the reason why we use the Dirichlet distribution as the prior is that it is the conjugate of Multinomial distribution. However currently ZhuSuan does not support detecting the conjugacy and figuring out analytic solutions of mean-field variational distribution (but **it is under development**, so you can wait for some while:) ) Therefore instead of using Dirichlet distr

[2018-05-27 07:58] keskinm commented on #106
Hello

Thanks you a lot for you reply.
Indeed, put a Dirichlet prior is not important, actually what I care about is to retrieve Latents it-selves and the priors are just a way to do it, so replace with logistic normal should not be a problem for me.

I am trying then to do this:

observations <- zs.Multinomial(toy_logits, n_experiments)

latent0 <- zs.Normal(latent0_mean, latent0_stdev, ngroup_di

[2018-05-28 09:01] csy530216 commented on #106
In
[code]
`zs.Multinomial` is only supposed to be used in a `BayesianNet` context. You can use
[code]
My understanding is that your code intends to infer the global latent variable `latent0`, which corresponds to the `logits` parameter of the supposed multinomial distribution of `observations`. Then I modified your code as follows, which can run:
[code]

[2018-05-31 08:08] keskinm commented on #106
Hello
Thanks a lot, that works well like that, when I do a multinomial sampling with obtained logits I obtain data similar to the original one "observations".

However, I obtain the same kind of problem as in Edward (but in Pyro that works):
Before doing my "ultimate goal" (with logistic normal instead of Dirichlet with Zhusuan as you suggest), I want to try more simple thing first, like:

Constan

[2018-06-04 12:27] DEKHTIARJonathan opened #107 "Collaboration with TensorLayer"
Hello dear friends,

I have been reading your work with much interest. With @zsdonghao @luomai @lgarithm we maintain the library TensorLayer (TL), https://github.com/tensorlayer/tensorlayer.

I think that your work can be really complementary to TL APIs.

Maybe you would be interested in working together and heading toward a common direction.

We have a chat group on Slack and/or WeChat if you wan

[2018-06-08 13:03] thjashin commented on #107
Oh Sorry I missed the message.

Thank you for reaching out. And glad that you are interested in ZhuSuan.
Just have a look through TL and see my favorite Lassagne API :)
Do you have any plan in mind at this time?

[2018-06-08 13:18] DEKHTIARJonathan commented on #107
It was more like a message to open the discussion and why not set up a conference on WeChat or a group chat ;)

[2018-06-08 14:27] zsdonghao commented on #107
@DEKHTIARJonathan thanks Jonathan.  @thjashin hello, feel free to let us know if you want to have a chat via Wechat, Skype or others ~ : D

[2018-06-10 02:17] thjashin commented on #107
@DEKHTIARJonathan @zsdonghao That sounds great. Would love to chat. How about Wechat?

[2018-06-10 11:37] zsdonghao commented on #107
hi, please add me: zsdh123

[2018-06-13 14:15] ifangcheng opened #108 "save and restore models?"
Just wondering how to save and restore  trained deep generative models in zhusuan?
So that we can deploy or continue to train the previous trained models?
Is it  exactly the same with that for general  tensorflow models?

[2018-06-13 16:13] thjashin commented on #108
Hi. Yes, it's just the same. The only thing you need to be careful about is that `zs.reuse` will add another level of scope.

[2018-06-14 14:30] ifangcheng commented on #108
1. Thanks for the reply!  Any examples to show that?
2. If we can save and restore the pre-trained  deep generative models in zhusuan,  is it possible to use the "fine tune" trick to do transfer learning for DGMs?  e.g. whether we can fine tune a DGM trained on cifar10, to get a better DGM for a special domain with my own small dataset?

[2018-06-15 11:56] thjashin commented on #108
Basically it will look like this:
[code]

[2018-06-19 19:24] laygr opened #109 "I have some trouble translating a model from PyMC3"
I'm very excited for this library, so I really want to learn how to use it. I'm translating the example [Cheating among students](http://nbviewer.jupyter.org/github/CamDavidsonPilon/Probabilistic-Programming-and-Bayesian-Methods-for-Hackers/blob/master/Chapter2_MorePyMC/Ch2_MorePyMC_PyMC3.ipynb#Example:-Cheating-among-students) from PyMC3 to ZhuSuan, from the book [Probabilistic Programming & Baye

[2018-06-19 23:51] ifangcheng commented on #108
many thanks!

[2018-06-19 23:51] #108 closed

[2018-06-20 13:33] meta-inf commented on #109
Basically you specified a joint distribution (`cheating_freq', 'not_cheated` and `observation` which you forgot to include), but only sampled a subset of the variables (`cheating_freq`). You could

- include `not_cheated` into the sampler, but it's discrete, and HMC can't work on it without further augmentations;
- derive the joint distribution in which `not_cheated` is marginalized, but it's hard

[2018-06-20 15:04] laygr commented on #109
I did try several configurations; it’s good to know that there was no way of succeeding with the HMC algorithm, thanks!
I didn’t see the Gibbs sampler in the docs.

[2018-06-20 16:44] meta-inf commented on #109
The pymc3 link you attached mentioned they used metropolis within Gibbs. If
you’re referring to zhusuan I think you need to specify each step (which
variable to sample, which sample algorithm to use) to implement a Gibbs
sampling procedure.
On Wed, 20 Jun 2018 at 23:04, Jesús Irais González Romero <
notifications@github.com> wrote:

[2018-06-28 18:21] csy530216 commented on #106
Sorry for the (very) late reply. The problem is at:
[code]
And
[code]
You can see there should be 'latent0+constant2=tf.log(constant1+constant2)' (up to a difference of an constant), and this does not imply 'latent0=tf.log(constant1)'.
Sorry that the code in my reply before is not clear enough: I should write `constant1=np.log([1.,5.,10.,5.,1.])` and replace the other `log([1.,5.,10.,5.,1.])` with

[2018-06-28 18:22] #109 closed

[2018-07-06 14:10] #106 closed

[2018-07-21 23:36] dofish opened #110 "请问哪里能找到zhusuan的中文文档?"
rt

[2018-07-22 06:48] thjashin commented on #110
There is currently no documents in Chinese

[2018-07-22 06:48] #110 closed

[2018-07-22 12:04] dofish commented on #110
是不是中文不太好用?-__-!!

[2018-07-22 16:15] csy530216 commented on #110
我感觉主要是维护起来比较麻烦，两边要同步。多看看英语挺好的:) 虽然这英语是中国人写的233

[2018-07-22 23:08] dofish commented on #110
楼上的兄弟,回帖中透着一股淡淡的忧桑和无奈.

[2018-11-07 13:06] fanbingjian commented on #40
When I see this very useful tool,I just want to say"Oh,my god"

[2018-11-26 10:18] YuyangZhangFTD opened #113 "AttributeError: module 'progressbar' has no attribute 'DataSize'"
When I run the examples, such as 'python -m examples.variational_autoencoders.vae' and 'python -m examples.bayesian_neural_nets.bayesian_nn', I will get the error "AttributeError: module 'progressbar' has no attribute 'DataSize'". Please help me. Thank you.

[2018-12-11 22:01] #107 closed

[2019-01-25 06:15] 28huasheng opened #114 "Why the std of y_mean is so small?"
Hi, Thank u for your great share first! And when i test the examples\bayesian_neural_nets\bayesian_nn.py, I found that the std of y_mean what i want to predict is too small.  As the same data ,when i tested on pyro of torch, the std looks good.

And i read the code, i found that the y_mean is counted by likelihood function, as well as it should be count by q(w)?

[2019-01-25 08:02] 28huasheng commented on #114
Thank u for responsing so fast
i want to count p(y*|x*,w,y), include the std and mean of y*. As i know ,normally q(w) is used to tract the likelyhood, so i think should i count y* by q(w)? And i did it by zhusuan just now, seems looks good.
the code here:

def mean_field_variational(x,layer_sizes, n_particles):
    with zs.BayesianNet() as variational:
        ws = []
        for i, (n_in, n_out)

[2019-01-25 10:38] meta-inf commented on #114
1. Your code seems equivalent to (keeping the graph construction code in the example intact, and do the following for test)
[code]
which is neater IMO. I would be surprised if they produce different results.

2. The pyro code corresponds to a Bayesian linear regression model, and I'm not sure when you adapt it to BNNs, you have made sure the modified model is exactly the same to our BNN example. F

[2019-01-28 02:36] 28huasheng commented on #114
below is the codes of bnn:

X_train, Y_train = Variable(torch.tensor(X)), Variable(torch.tensor(Y)).reshape(200,1)
X_test, Y_test = Variable(torch.tensor(X)), Variable(torch.tensor(Y)).reshape(200,1)
print(X_train.shape,Y_train.shape)
data = torch.cat((X_train, Y_train), 1)

# get array of batch indices
def get_batch_indices(N, batch_size):
    all_batches = np.arange(0, N, batch_size)
    if all_

[2019-01-28 02:50] 28huasheng commented on #114
And this is the codes i uses zhusuan now
[code]

[2019-01-30 10:54] meta-inf commented on #114
It seems your torch code implements a deep *linear* network, while the Zhusuan model has ReLU nonlinearity. In that case you should certainly expect different results...

[2019-02-13 14:39] #114 closed

[2019-03-06 03:09] ZicongZhang opened #115 "Memory leaks caused by VariationalObjective"
Hi, I am currently developing VAE based on the donut library. I found memory leak when restoring saved model multi times. I checked the program with objgraph and found the following chain:
![](https://user-images.githubusercontent.com/30051794/53776522-454afb00-3f31-11e9-8fd6-939bcafbc3ed.png)

You could see from this figure that the module zhusuan hold a static variable without release. I checked

[2019-03-31 08:49] thjashin commented on #115
Hi, thanks for reporting this. we are currently redesigning variational inference functionalities, and these will be fixed in a newer version.

[2019-03-31 08:51] #76 closed

[2019-03-31 08:51] #65 closed

[2019-04-09 05:48] thjashin commented on #115
Resolved in #119 and will be soon into master. Please reopen the issue if the problem still exists @ZicongZhang .

[2019-04-09 05:48] #115 closed

[2019-06-03 16:40] rzu512 opened #121 "How to use custom Hamiltonian?"
Hi.

The parameters of my model have no constraint.
I implemented the following two functions and want to use HMC algorithm of zhusuan.
How to do that? If I can't use the function directly, how to implement custom `StochasticTensor`?

[code]

Thank you.

[2019-06-04 13:21] csy530216 commented on #121
Hi, for a easy example of using HMC, you can refer to the toy example here, where HMC is used to sample a Gaussian-distributed variable: https://github.com/thu-ml/zhusuan/blob/master/examples/toy_examples/gaussian.py. You can also look at other examples listed in our README with `HMC` or `SGMCMC` as the inference method, which are more practical and complicated than the toy gaussian example.

For

[2019-06-05 21:57] rzu512 commented on #121
Should I provide the log-joint probability or the negative of log-joint probability in the following line?
[code]

In tensorflow probability, I actually have to provide the negative of the log-joint probability:

https://www.tensorflow.org/probability/api_docs/python/tfp/mcmc/HamiltonianMonteCarlo
[code]

[2019-06-05 22:00] thjashin commented on #121
just the log joint probability

[2019-06-06 20:37] rzu512 commented on #121
What will happen if the log-joint probability is `-inf` or `nan`? Would the `HMC` automatically reject the proposal in these two cases?

[2019-06-08 05:08] rzu512 commented on #121
The `HMC` works well! Thanks a lot. The mass and step-size adaptation really help to fit my model.

[2019-06-08 10:19] csy530216 commented on #121
Very glad to hear that!
Regarding the issue of `nan`, HMC should deal with such cases correctly (see #78).

[2019-06-08 12:06] #121 closed

[2019-06-11 01:19] rzu512 opened #122 "Eager executation"
When I try to scale up my model, I find that `tf.scan` uses too much memory. Probably I have to use eager execution.

How well does `HMC` and `SGMCMC` work with eager execution?

[2019-06-11 06:10] thjashin commented on #122
That's in our plan but need quite amount of work to switch to the new-style of variable keeping mechanism.

[2019-06-11 06:11] thjashin commented on #122
Welcome for contribution!

[2019-07-06 21:55] rzu512 opened #123 "Get logp from SGMCMC"
The `HMC` class allows accessing the log-joint probability before and after the update step through the `log_prob` and `orig_log_prob` attributes of the `HMCInfo` class. However, the stochastic gradient MCMC classes in zhusuan don't expose these two log-joint probabilities.

Is it possible to get a tensorflow operation for the log-joint probability at the end of the update step in `SGMCMC`? Or alt

[2019-07-14 14:39] csy530216 commented on #123
Hello, I think it is not difficult to get the value of the parameters as long as you perform something like `sess.run(latent)`. About the log-joint probability, since in SGMCMC algorithm we do not need to compute it (unlike in HMC, since we need to perform the Metropolis-Hastings step there), by default the `log_prob` is not returned (to reduce the size of computation graph).

If you want to get `

[2019-07-15 15:19] rzu512 commented on #123
In the end, I modify my joint_prob function to store the logp and parameters at the half step. For my case, I only need to do one additional sum to get the logp after calculating the gradient. So it make sense to calculate the gradient and logp at the same time t.

[2019-07-15 15:22] #123 closed

[2019-10-21 08:05] JonvoWoo opened #125 "module 'tensorflow' has no attribute 'make_template'"
When I run the code of vae in the example floder, there is an error, says " AttributeError                            Traceback (most recent call last)
<ipython-input-2-3f00f9adc4c9> in <module>()
----> 1 @zs.reuse_variables(scope="q_net")
      2 def build_q_net(x, z_dim, n_z_per_x):
      3     bn = zs.BayesianNet()
      4     h = tf.layers.dense(tf.cast(x, tf.float32), 500, activation=tf.nn.re

[2019-10-22 19:17] thjashin commented on #125
Hi,

Please use TF 1.X at the moment.
We are planning to support 2.0 soon.

Best,
Jiaxin

[2019-10-22 19:18] #125 closed, assigned to nobody

[2019-12-11 08:44] SyDudulu opened #126 "The examples of ‘semi_supervised_vae’ cannot run successfully"
There seems to be some little bugs in these examples. For example
` for t in range(iters):
      labeled_indices = (np.random.randint(0, n_labeled, size=batch_size))
      x_labeled_batch = x_labeled[labeled_indices]`

It throws the error that
`TypeError: Only integers, slices (`:`), ellipsis (`...`), tf.newaxis (`None`) and scalar tf.int32/tf.int64 tensors are valid indices, got array([17, 13, 15

[2020-01-09 14:55] csy530216 commented on #126
Hello!
Sorry for the very late reply. The issue is fixed as in #127. Thank you for your comment!

[2020-03-02 10:21] ghost opened #128 "cant install ZhuSuan"
I run the command: pip install https://github.com/thu-ml/zhusuan.git. in command promt. But I got an error during the downloading this package: can not unpack the file.
Could you help me with the installation of the Zhusuan?

[2020-03-02 11:03] thjashin commented on #128
Hi, please follow the installation guide in README.

[2020-03-02 11:21] ghost commented on #128
@thjashin Hi. I did that as I said:  pip install https://github.com/thu-ml/zhusuan.git. in command promt. But I had an error: can not unpack the file.

[2020-03-03 08:40] csy530216 commented on #128
@neginjv You can try
[code]

[2020-03-03 09:01] ghost commented on #128
@csy530216 thanks a lot.

[2020-03-05 04:08] #128 closed, assigned to nobody

[2020-03-08 14:59] ghost opened #129 "AttributeError: module 'tensorflow' has no attribute 'log'"
Hi, I used ZhuSuan library to build bayesian  lstm cell. I used the code that was in paper of you:ZhuSuan: A Library for Bayesian Deep python. But I got an error:

AttributeError: module 'tensorflow' has no attribute 'log'
Could someone help me to solve this problem?
class BayesianLSTMCell(object):
    def __init__(self, num_units, forget_bias=1.0):
        self._forget_bias = forget_bias

[2020-03-18 19:26] steffenvan commented on #125
Have you implemented this for 2.0 yet? I still get the same AttributeError.

[2020-06-07 08:24] usamazf opened #130 "Examples code is out dated and doesn't work with Tensorflow 2.x"
Most of the imports used in the examples are from Tensorflow 1.x and are not compatible with Tensorflow 2.x...

Examples of faulty imports include, TensorFlow.contrib (no longer exists in TF 2.0+)....

[2020-06-10 02:41] wangyexiang commented on #130
Can anyone fix this？

[2020-12-25 21:48] TiagoMAntunes commented on #130
Any update regarding this issue? New versions of python can't support the library anymore as tensorflow is no longer available for those versions